<div class="toolbar" role="banner">
  
  <span>Welcome</span>
    <div class="spacer"></div>
  
</div>

<div class="content" role="main">

  <div class="container">
    <div>
      <h2>Test Technique - Software Engineer Front</h2>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field style="width: 100%;">
              <input matInput type="number"  min="0" placeholder="dimenssion x" [formControl]="form.controls['dimessionX']" />
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <input type="number"  min="0" matInput placeholder="dimenssion y" [formControl]="form.controls['dimessionY']" />
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <input type="number" min="0" matInput placeholder="possition x" [formControl]="form.controls['positionX']" />
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <input type="number" min="0" matInput placeholder="possition y" [formControl]="form.controls['positionY']" />
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              
              <mat-select
              id="selectMaterial"
              [formControl]="form.controls['orientation']"
              #position
              placeholder="direction"
              >
              <mat-option *ngFor="let position of positions" [value]="position" >
                {{position.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

            
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="instruction" [formControl]="form.controls['instruction']" />
            </mat-form-field>

            <button mat-raised-button color="accent">Submit</button>
          </form>
          
          <div style="text-align: center;" *ngIf="direction!=''" ><h3>Resultat final:</h3> {{result}}</div>
         <h3 *ngIf="direction!=''">
           Historique
         </h3> 
          <div *ngFor="let message of messages" >
            {{message}}
          </div>
        </mat-card-content>
       </mat-card>
    </div>
  </div>
  
  

</div>